@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}


/* Set the background color of all pages */
html, body {
  background-color: #F2F2F2;
}

main {
  width: 50%;
  margin: auto;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 20px;
  position: relative; top: 100px; left: 10px
}

/* Edit inputs elements */
input[type=text],input[type=password], select, textarea {
    width: 50%;
    padding: 6x;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

/* Edit the button */
button {
    background-color: #5f927e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
/* Make the input tags */
input {
  height: 2.0em;
  margin: 0;
  padding: .25em .5em;
}


/* Make the select boxes  */
select {
  width: 50%;
  height: 2.5em;
  padding: 16px 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

/* edit the label*/
label {
    padding: 12px 12px 12px 10px;
    padding-block: 5%;
    display: inline-block;
    resize: vertical;
  }

/* edit the textarea boxes */
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

/* Set the width on all tables */
table {
    border: 1px solid black;
    border-collapse: collapse;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    box-shadow: 12px 12px rgba(100, 255, 100, .3);
}

/* Set border all tables */
th, td {
    border: 1px solid lightblue;
    padding: .5em;
  }

  /* align the tittle of the page*/
  h1 {
    text-align: center;
  }

  /**************** Menu navbar ************/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #cdcdcd;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link & color to grennish on hover or when is active */
  li a:hover, a.active {
    background-color: rgba(100, 255, 100, .3);
  }
