{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/app.css' %}" />
        <title>Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <div id="nav">
                    <div id="nav_wrapper">
                        <ul>
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'show_my_tasks' %}">My tasks</a>
                                </li>
                                <li>
                                    <a href="{% url 'list_projects' %}">My projects</a>
                                </li>
                                <li style="float: right">
                                    <a class="active" href="{% url 'logout' %}">Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'login' %}">Login</a>
                                </li>
                                <li>
                                    <a href="{% url 'signup' %}">Signup</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
