{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Create a New Task</h1>
        <form method="post">
            {% csrf_token %} {{ createtask.as_p }}
            <button>Create Task</button>
        </form>
    </div>
{% endblock content %}
